---
import MiniProject from "./MiniProject.astro";
import projects from "../../services/docs/mini-projects.json";
--- 

<section id="moreProjects" class="flex flex-col gap-4 max-w-3xl">
  <hgroup>
    <h2 class="font-semibold">Otros proyectos.</h2>
    <p class="text-[#c9c9c9] font-thin">
      El resto de proyectos que fueron creados por mi o en los que participé.
    </p>
  </hgroup>
  <ul class="flex flex-row gap-2 flex-wrap justify-center">
    { 
      projects.map(({ name, image, url, github }) => (
        <MiniProject
          name={name}
          image={image}
          url={url}
          github={github}
        />
      ))
    }
  </ul>
</section>
