---
import Layout from '@MainLayout';

import CursesCard from '@components/curses/CursesCard.astro';
---


<Layout title="Fabricio Jordán | All Curses">


    <main>

        <CursesCard />

    </main>


</Layout>