---
import Layout from "../layouts/Layout.astro";

import CursesCard from "../components/curses/cursesCardParts/CursesCard.astro";
---


<Layout title="Fabricio Jordán | All Curses">


    <main>

        <CursesCard />

    </main>


</Layout>