---
import Layout from "../layouts/Layout.astro";

import ProjectsCard from "../components/projects/allProjects/AllProjectsCard.astro";
---


<Layout title="Fabricio Jordán | All Projects">


    <main>

        <ProjectsCard />

    </main>

    
</Layout>