---
import logo from '@assets/icon/icon1.svg';
import linkedinIcon from '@assets/icon/linkedin.svg';
import githubIcon from '@assets/icon/github.svg';
---


<footer class="w-full flex flex-col gap-4 [&_*]:transition-all [&_*]:duration-500 text-white">
    
    <div class=" flex flex-row justify-between gap-8 sm:gap-12">
        <ul class="max-[640px]:w-full flex flex-row gap-8 justify-between sm:justify-center items-center">
            <li>
                <a href="#body">
                    <img class="min-w-8 size-8 invert hover:invert-[.55]" src={logo?.src} alt="Svg of a planet with rings.">
                </a>
            </li>
            <li>
                <nav class="flex flex-row gap-4 [&_IMG]:size-5 hover:[&_IMG]:invert-[.40]">
                    <a href="https://www.linkedin.com/in/fabricio-jordán-936385136/">
                        <img src={linkedinIcon.src} alt="linkedin logo icon svg">
                    </a>
                    <a href="https://github.com/FabrizioJordan">
                        <img src={githubIcon.src} alt="github logo icon svg">
                    </a>
                </nav>
            </li>
        </ul>
        <span class="hidden sm:inline text-[#9f968a] hover:text-[#ffffff]">Montevideo, Uruguay</span>
    </div>

    <hr class="border-[#57575799]">

    <div class="flex flex-row justify-between items-start gap-12">
        <a class="hidden sm:flex flex-col justify-center" href="mailto:dev.fjordan@gmail.com?subject=Hello%20Fabricio!%20...">
            dev.fjordan@gmail.com
        </a>
        <a class="sm:hidden flex flex-col justify-center" href="mailto:dev.fjordan@gmail.com?subject=Hello%20Fabricio!%20...">
            Enviar Mail.
        </a>
        <a class="hover:text-[#9f968a]" href="#body">Volver al Inicio</a>
    </div>
</footer>