---
import logo from '../assets/icon/icon1.svg';
import linkedinIcon from "../assets/icon/linkedin.svg";
import githubIcon from "../assets/icon/github.svg";
import envelopeIcon from "../assets/icon/envelope.svg";
---


<header class="w-full flex flex-row justify-between items-center m-auto [&_*]:transition-all [&_*]:duration-500 ">
    <img class="size-8 invert duration-300 transition-filter hover:!invert-[0.65]" src={logo?.src} alt="Svg of a planet with rings.">

    <nav class="flex flex-row gap-6 justify-center items-center 
    [&>*>img]:duration-300 [&>*>img]:transition-filter hover:[&>*>img]:invert-[0.45] [&>*>img]:size-6">
        <a rel="noreferrer noopener" target="_blank" class="" href="https://www.linkedin.com/in/fabricio-jordán-936385136/"><img src={linkedinIcon?.src} alt="linkedin icon"/>
        </a>
        <a rel="noreferrer noopener" target="_blank" class="" href="https://github.com/FabrizioJordan">
          <img src={githubIcon?.src} alt="github icon"/>
        </a>
        <button onclick="copyMailToClipboard()" ><img src={envelopeIcon?.src} alt="envelope for click the button and copy the mail into the clipboard"/>
        </button>
    </nav>
</header>