---
import logo from '../assets/icon/icon1.svg';
import linkedinIcon from "../assets/icon/linkedin.svg";
import githubIcon from "../assets/icon/github.svg";
import envelopeIcon from "../assets/icon/envelope.svg";
---


<header class="w-full flex flex-row justify-between items-center m-auto [&_*]:transition-all [&_*]:duration-500 ">
    <img class="w-8 h-8 invert hover:invert-[.65]" src={logo?.src} alt="Svg of a planet with rings.">

    <nav class="flex flex-row gap-6 justify-center items-center [&>A]:text-[#9f968a] hover:[&>A]:text-[#ba5bff]">
        <a rel="noreferrer noopener" target="_blank" class="" href="https://www.linkedin.com/in/fabricio-jordán-936385136/"><img class="w-6 h-6 invert" src={linkedinIcon?.src} alt="linkedin icon" />
          </a>
          <a rel="noreferrer noopener" target="_blank" class="" href="https://github.com/FabrizioJordan">
            <img class="w-6 h-6 invert" src={githubIcon?.src} alt="github icon"/>
          </a>
          <button onclick="copyMailToClipboard()" ><img class="w-6 h-6 invert" src={envelopeIcon?.src} alt="envelope for click the button and copy the mail into the clipboard"/></button
            >
    </nav>
</header>